* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 0.6;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}

#main {
  width: calc(100% - 300px);
  margin-top: 100px;
}

#map {
  width: 100%;
  height: 100vh;
  z-index: 98; 
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #333;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menuItem:hover {
  text-decoration: underline;
}

.menuItem a {
  text-decoration: none;
}

.exportButton {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.exportButton:hover {
  text-decoration: underline;
}

.exportButton a {
  text-decoration: none;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.screenshotBtn {
  position: fixed;
  z-index: 100;
  top: 4rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

#screenshot-options {
  display: none;
  position: fixed;
  z-index: 100;
  top: 6rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: #85cbe5;
  width: 300px;
  height: 150px;
  text-align: center;
  /*vertical-align: middle;*/
  align-content: center;
}

input {
  margin-bottom: 10px;
  font-size: 18px;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #85cbe5;
  color: white;
  list-style: none;
  padding-top: 4rem;
  width: 25%;
}

.showMenu {
  transform: translateY(0);
}

.hidden-map {
  display: none;
}

input[type="file"] {
  display: none;
}

.actions {
  display: flex;
  align-items: center;
}

.fileList {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
}

.fileList li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.fileList button {
  margin-right: 1rem;
}

.fileList .deleteIcon {
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
}

.fileList .fileName {
  margin-right: auto; 
}

.fileList .fileText {
  cursor: pointer;
  text-decoration: none;
  margin: 0rem 4rem;
  font-size: 1rem;
}

.fileList .fileText:hover {
  text-decoration: underline;
}
